
.sidebar{
	width: 220px;
	float: left;
	padding-top: 25px;
}

.nav__link{
	display: block;
	padding: 10px 25px 10px 0;
	text-align: right;
	text-decoration: none;
	color: #414141;
	border-right: 6px solid transparent;
	
}
.nav__link:hover{
	color:#32c3e5;

}

.nav__link-icon,
.nav__link-text{
	display: inline-block;
	vertical-align: middle;
} 

.nav__link-text{
	margin-left: 10px;
}

.nav__item_active .nav__link{

	border-color: #32c3e5;
	font-weight: 600;
	color: #32c3e5;
}